<h2>Listing categories</h2>

<%= render "_categories.html", categories: @categories,
                               no_children: @no_children,
                               conn: @conn  %>

<%= link "New category", to: category_path(@conn, :new) %>
