<div class="row">
  <div class="col-md-12"
       style="columns:         4 150px;
              -moz-columns:    4 150px;
              -webkit-columns: 4 150px;
              line-height: 350%;">
    <%= render "_category_tree.html", categories: @categories, conn: @conn %>
  </div>
</div>

<script>
  if (hopscotch.getState() === "panoptikum:1") {hopscotch.startTour(tour)}
  if (hopscotch.getState() === "panoptikum:2") {hopscotch.startTour(tour)}
</script>