<h2>Show feed backlog</h2>

<ul>

  <li>
    <strong>Url:</strong>
    <%= @feed_backlog.url %>
  </li>

  <li>
    <strong>Feed generator:</strong>
    <%= @feed_backlog.feed_generator %>
  </li>

  <li>
    <strong>In progress:</strong>
    <%= @feed_backlog.in_progress %>
  </li>

  <li>
    <strong>User:</strong>
    <%= @feed_backlog.user_id %>
  </li>

</ul>

<%= link "Edit", to: feed_backlog_path(@conn, :edit, @feed_backlog) %>
<%= link "Back", to: feed_backlog_path(@conn, :index) %>
