<p>
  We would like to let you know, that your Panoptikum pro account will expire in less than one
  week.
</p>
<p>
  If you would like to extend your pro account, please login to your account and find
  more information on your
  <%= link "Your profile page",  to: Pan.Router.Helpers.user_frontend_url(Pan.Endpoint, :my_profile)%>.
</p>
<p>We won't bother you with any more emails, promised!</p>

