language: elixir

elixir:
  - 1.5

otp_release:
  - 20.1

addons:
  postgresql: 9.6

env:
  - MIX_ENV=test

install:
  - rm config/dev.secret.exs
  - cp config/dev.secret.exs.example config/dev.secret.exs
  - rm config/prod.secret.exs
  - cp config/prod.secret.exs.example config/prod.secret.exs
  - mix local.hex --force
  - mix local.rebar --force
  - mix deps.get --only test
  - cd assets; npm install --silent; cd ..

before_script:
  - mix ecto.setup
