<h2>Show subscription</h2>

<ul>

  <li>
    <strong>User:</strong>
    <%= @subscription.user_id %>
  </li>

  <li>
    <strong>Podcast:</strong>
    <%= @subscription.podcast_id %>
  </li>

</ul>

<%= link "Edit", to: subscription_path(@conn, :edit, @subscription) %>
<%= link "Back", to: subscription_path(@conn, :index) %>
