<h3 style="margin-bottom: 5px">
  <%= fa_icon("user-heroicons-outline") %> User &nbsp;
  <%= link @user.name, to: @user.url,
                       style: "color:#1a0dab" %>
</h3>

<p class="small">
  <%= link "https://panoptikum.io" <> @user.url, to: @user.url,
                                                 style: "color:#006621" %><br/>
</p>

<span class="h6 pull-right"><small><%= @score %></small></span>
