<h1>Forgot your password?</h1>

<%= form_for @conn, user_path(@conn, :request_login_link), [as: :user], fn f-> %>
  <div class="form-group">
    <%= email_input f, :email, email: "Email", class: "form-control" %>
  </div>
  <%= submit "Request Login Link", class: "btn btn-primary" %>
<% end %>
