<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello Pan!</title>
    <link rel="stylesheet" 
          href="<%= static_path(@conn, "/css/app.css") %>">
    <link rel="stylesheet" 
          href="<%= static_path(@conn, "/css/font-awesome.min.css") %>">
    <link rel="stylesheet" 
          href="<%= static_path(@conn, "/css/bootflat.min.css") %>">
    <link rel="stylesheet" 
          href="<%= static_path(@conn, "/css/overrides.css") %>">
    <link href='https://fonts.googleapis.com/css?family=Ubuntu' 
          rel='stylesheet' 
          type='text/css'>
  </head>

  <body>
    <div class="container">
      <header class="header">
        <ol class="breadcrumb text-right">
          <%= if @current_user do %>
            <li>@<%= @current_user.username %></li>
            <li>
              <%= link "Log out", to: session_path(@conn, :delete, @current_user), 
                                  method: "delete" %>
            </li>
          <% else %>
            <li><%= link "Register", to: user_path(@conn, :new) %></li>
            <li><%= link "Log in", to: session_path(@conn, :new) %></li>
          <% end %>
        </ol>

        <h1><img src="/images/panoptikum.io.png" width="80" height="80"> Panoptikum.io</h1>
      </header>

      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
