<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Panoptikum</title>
    <link rel="stylesheet"
          href="<%= static_path(@conn, "/css/app.css") %>">
    <link href='https://fonts.googleapis.com/css?family=Ubuntu'
          rel='stylesheet'
          type='text/css'>
  </head>

  <body data-js-view-name="<%= js_view_name(@conn, @view_template) %>">
    <div class='notifications top-right'></div>
    <div class="container-fluid">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <%= render "_navbar.html", conn: @conn,
                                    current_user: @current_user %>
        </div><!-- /.container-fluid -->
      </nav>

      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->

    <script>window.userToken = "<%= assigns[:user_token] %>"
            window.currentUserID = "<%= if @current_user, do: @current_user.id %>"</script>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    <%= render_existing @view_module, "scripts.html", assigns %>
  </body>
</html>
