<h2>New recommendation</h2>

<%= render "form.html", changeset: @changeset,
                        action: recommendation_path(@conn, :create) %>

<%= link "Back", to: recommendation_path(@conn, :index) %>
