<h2>Show delegation</h2>

<ul>

  <li>
    <strong>Persona:</strong>
    <%= @delegation.persona_id %>
  </li>

  <li>
    <strong>Delegate:</strong>
    <%= @delegation.delegate_id %>
  </li>

</ul>

<%= link "Edit", to: delegation_path(@conn, :edit, @delegation) %>
<%= link "Back", to: delegation_path(@conn, :index) %>
