<div class="panel panel-danger">
  <div class="panel-heading">Top 5 liked Podcasts</div>
  <div class="panel-body" style="margin-bottom: -20px;">
    <%= render "_top_list_table.html", podcasts: @liked_podcasts, conn: @conn %>
  </div>
</div>
