<div class="panel panel-info">
  <div class="panel-heading">Top 10 subscribed Podcasts</div>
    <%= render "_top_list_table.html",
          podcasts: @popular_podcasts,
          icon: "user",
          conn: @conn %>
</div>
