<div class="content text-column">
  <%= content_for "pro_features", "div.content" %>

  <%= link "My profile", to: user_frontend_path(@conn, :my_profile),
                        class: "btn btn-primary btn-large" %>
</div>
