<div class="prose max-w-none prose-a:text-link prose-a:hover:text-link-dark">
  <%= content_for("pro_features", "div.content") %>
</div>

<p class="my-4">
  <.link href={user_frontend_path(@conn, :my_profile)} class="border border-black btn btn-primary">My profile</.link>
</p>
