<div class="m-4">
  <h1 class="text-3xl">
    My Moderations
  </h1>

  <ul class="list-disc m-4">
    <%= for category <- @categories do %>
      <li>
        <%= link(category.title,
          to: moderation_frontend_path(@conn, :moderation, category),
          class: "text-link hover:text-link-dark"
        ) %>
      </li>
    <% end %>
  </ul>
</div>
