<%= if @manifestations == [] do %>
  none
<%= end %>

<%= for manifestation <- @manifestations do %>
  <%= link [fa_icon("user"), " ", manifestation.persona.name],
          to: user_frontend_path(@conn, :show, manifestation.persona),
          class: "btn btn-xs" %> &nbsp;
<% end %>
