<h2>Show manifestation</h2>

<ul>

  <li>
    <strong>Persona:</strong>
    <%= @manifestation.persona_id %>
  </li>

  <li>
    <strong>User:</strong>
    <%= @manifestation.user_id %>
  </li>

</ul>

<%= link "Edit", to: manifestation_path(@conn, :edit, @manifestation) %>
<%= link "Back", to: manifestation_path(@conn, :index) %>
