<div class="m-4">
  <h1 class="text-3xl">
    Edit feed backlog
  </h1>

  <%= render("form.html",
    changeset: @changeset,
    action: feed_backlog_path(@conn, :update, @feed_backlog)
  ) %>

  <%= link("Back",
    to: feed_backlog_path(@conn, :index),
    class: "text-link hover:text-link-dark"
  ) %>
</div>
