<h2>New feed backlog</h2>

<%= render "form.html", changeset: @changeset,
                        action: feed_backlog_path(@conn, :create) %>

<%= link "Back", to: feed_backlog_path(@conn, :index) %>
