<div class="m-4">
  <h1 class="text-3xl">
    Edit opml
  </h1>

  <%= render("form.html",
    changeset: @changeset,
    action: opml_path(@conn, :update, @opml)
  ) %>

  <%= link("Back",
    to: opml_path(@conn, :index),
    class: "text-link hover:text-link-dark"
  ) %>
</div>
