<div class="m-4">
  <h2 class="text-2xl">New OPML</h2>

  <%= render "form.html", changeset: @changeset,
                          action: opml_path(@conn, :create) %>

  <%= link "Back", to: opml_path(@conn, :index),
                   class: "text-link hover:text-link-dark" %>
</div>
