// Buttons // 

.btn {
  margin: 3px 3px 3px 0px;;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 5px;
}

// Button sizes

.btn-xl {
  padding: 5px 9px;
  font-size: 16px;
  line-height: 2;
  border-radius: 7px;
}

.btn-large {
  padding: 4px 8px;
  font-size: 15px;
  line-height: 1.85;
  border-radius: 6px;
}

.btn-medium {
  padding: 3px 7px;
  margin-top: 2px;
  font-size: 14px;
  line-height: 1.75;
  border-radius: 5px;
}

.btn-sm {
  padding: 2px 6px;
  margin-top: 1px;
  font-size: 13px;
  line-height: 1.6;
  border-radius: 4px;
}

.btn-xs {
  padding: 1px 5px;
  font-size: 12px;
  border-radius: 3px;
  line-height: 1.5;
}

// Button backgrounds

.bg-default {
  background-color: white;
  color: text-color-for(white);
  border: 1px solid $medium-gray;
}

.bg-primary {
  background-color: $aqua;
  color: text-color-for($aqua);
}

.bg-info {
  background-color: $mint;
  color: text-color-for($mint);
}

.bg-danger {
  background-color: $grapefruit;
  color: text-color-for($grapefruit);
}

.bg-warning {
  background-color: $sunflower;
  color: text-color-for($sunflower);
}

.bg-success {
  background-color: $grass;
  color: text-color-for($grass);
}

.bg-lavender {
  background-color: $lavender;
  color: text-color-for($lavender);
}


.bg-light-gray {
  background-color: $light-gray;
  color: text-color-for($light-gray);
  border: 1px solid $medium-gray;
}

.bg-gray {
  background-color: $medium-gray;
  color: text-color-for($medium-gray);
}

.bg-medium-gray {
  @extend .bg-gray;
}

.bg-dark-gray {
  background-color: $dark-gray;
  color: text-color-for($dark-gray);
}

.bg-blue-jeans {
  background-color: $blue-jeans;
  color: text-color-for($blue-jeans);
}

.bg-pink-rose {
  background-color: $pink-rose;
  color: text-color-for($pink-rose);
}

.bg-bittersweet {
  background-color: $bittersweet;
  color: text-color-for($bittersweet);
}

// Buttons named after use case

.btn-default {
  @extend .bg-default;

  &:hover {
    background-color: active-color-for(white);
  }

  &:active {
    color: text-color-for(scale-color(white, $lightness: -40%)) !important;
    background-color: scale-color(white, $lightness: -40%);
  }
}

.btn-primary {
  @extend .bg-primary;

  &:hover {
    background-color: hover-color-for($aqua);
    color: text-color-for($aqua);
  }

  &:active {
    background-color: active-color-for($aqua);
    color: text-color-for(active-color-for($aqua));
  }
}

.btn-info {
  @extend .bg-info;

  &:hover {
    background-color: hover-color-for($mint);
    color: text-color-for($mint);
  }

  &:active {
    background-color: active-color-for($mint);
    color: text-color-for(active-color-for($mint));
  }
}

.btn-danger {
  @extend .bg-danger;

  &:hover {
    background-color: hover-color-for($grapefruit);
    color: text-color-for($grapefruit);
  }

  &:active {
    background-color: active-color-for($grapefruit);
    color: text-color-for(active-color-for($grapefruit));
  }
}

.btn-warning {
  @extend .bg-warning;

  &:hover {
    background-color: hover-color-for($sunflower);
    color: text-color-for($sunflower);
  }

  &:active {
    background-color: active-color-for($sunflower);
    color: text-color-for(active-color-for($sunflower));
  }
}

.btn-success {
  @extend .bg-success;

  &:hover {
    background-color: hover-color-for($grass);
    color: text-color-for($grass);
  }

  &:active {
    background-color: active-color-for($grass);
    color: text-color-for(active-color-for($grass));
  }
}

// Buttons named after colors

.btn-lavender {
  @extend .bg-lavender;

  &:hover {
    background-color: hover-color-for($lavender);
    color: text-color-for($lavender);
  }

  &:active {
    background-color: active-color-for($lavender);
    color: text-color-for(active-color-for($lavender));
  }
}

.btn-inverse-lavender {
background-color: white;
border-color: #967adc;
color: #967adc;

  &:hover {
    background-color: hover-color-for(white);
    color: text-color-for(white);
  }

  &:active {
    background-color: active-color-for(white);
    color: text-color-for(active-color-for(white));
  }
}




.btn-light-gray {
  @extend .bg-light-gray;

  &:hover {
    background-color: hover-color-for($light-gray);
    color: text-color-for($light-gray);
  }

  &:active {
    background-color: active-color-for($light-gray);
    color: text-color-for(active-color-for($light-gray));
  }
}

.btn-gray {
  @extend .bg-gray;

  &:hover {
    background-color: hover-color-for($medium-gray);
    color: text-color-for($medium-gray);
  }

  &:active {
    background-color: active-color-for($medium-gray);
    color: text-color-for(active-color-for($medium-gray));
  }
}

.btn-medium-gray {
  @extend .btn-gray;
}

.btn-dark-gray {
  @extend .bg-dark-gray;

  &:hover {
    background-color: hover-color-for($dark-gray);
    color: text-color-for($dark-gray);
  }

  &:active {
    background-color: active-color-for($dark-gray);
    color: text-color-for(active-color-for($dark-gray));
  }
}

.btn-blue-jeans {
  @extend .bg-blue-jeans;

  &:hover {
    background-color: hover-color-for($blue-jeans);
    color: text-color-for($blue-jeans);
  }

  &:active {
    background-color: active-color-for($blue-jeans);
    color: text-color-for(active-color-for($blue-jeans));
  }
}

.btn-pink-rose {
  @extend .bg-pink-rose;

  &:hover {
    background-color: hover-color-for($pink-rose);
    color: text-color-for($pink-rose);
  }

  &:active {
    background-color: active-color-for($pink-rose);
    color: text-color-for(active-color-for($pink-rose));
  }
}

.btn-bittersweet {
  @extend .bg-bittersweet;

  &:hover {
    background-color: hover-color-for($bittersweet);
    color: text-color-for($bittersweet);
  }

  &:active {
    background-color: active-color-for($bittersweet);
    color: text-color-for(active-color-for($bittersweet));
  }
}
