// Buttons // 

.btn {
  margin: 3px 0px 3px;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 5px;
}

// Button sizes

.btn-xl {
  padding: 4px 9px;
  font-size: 16px;
  line-height: $base-line-height * 1.4;
  border-radius: 76px;
}

.btn-large {
  padding: 3px 8px;
  font-size: 15px;
  line-height: $base-line-height * 1.3;
  border-radius: 6px;
}

.btn-medium {
  padding: 2px 7px;
  margin-top: 2px;
  font-size: 14px;
  line-height: $base-line-height * 1.2;
  border-radius: 5px;
}

.btn-sm {
  padding: 1px 6px;
  margin-top: 1px;
  font-size: 13px;
  line-height: $base-line-height * 1.1;
  border-radius: 4px;
}

.btn-xs {
  padding: 0px 5px;
  font-size: 12px;
  border-radius: 3px;
}

// Button backgrounds

.bg-default {
  background-color: white;
  color: text-color-for(white);
  border: 1px solid $medium-gray;
}

.bg-primary {
  background-color: $aqua;
  color: text-color-for($aqua);
}

.bg-info {
  background-color: $mint;
  color: text-color-for($mint);
}

.bg-danger {
  background-color: $grapefruit;
  color: text-color-for($grapefruit);
}

.bg-warning {
  background-color: $sunflower;
  color: text-color-for($sunflower);
}

.bg-success {
  background-color: $grass;
  color: text-color-for($grass);
}

.bg-lavender {
  background-color: $lavender;
  color: text-color-for($lavender);
}


.bg-light-gray {
  background-color: $light-gray;
  color: text-color-for($light-gray);
  border: 1px solid $medium-gray;
}

.bg-gray {
  background-color: $medium-gray;
  color: text-color-for($medium-gray);
}

.bg-medium-gray {
  @extend .bg-gray;
}

// Buttons named after use case

.btn-default {
  @extend .bg-default;

  &:hover {
    background-color: active-color-for(white);
  }

  &:active {
    color: text-color-for(scale-color(white, $lightness: -40%)) !important;
    background-color: scale-color(white, $lightness: -40%);
  }
}

.btn-primary {
  @extend .bg-primary;

  &:hover {
    background-color: hover-color-for($aqua);
    color: text-color-for($aqua);
  }

  &:active {
    background-color: active-color-for($aqua);
    color: text-color-for(active-color-for($aqua));
  }
}

.btn-info {
  @extend .bg-info;

  &:hover {
    background-color: hover-color-for($mint);
    color: text-color-for($mint);
  }

  &:active {
    background-color: active-color-for($mint);
    color: text-color-for(active-color-for($mint));
  }
}

.btn-danger {
  @extend .bg-danger;

  &:hover {
    background-color: hover-color-for($grapefruit);
    color: text-color-for($grapefruit);
  }

  &:active {
    background-color: active-color-for($grapefruit);
    color: text-color-for(active-color-for($grapefruit));
  }
}

.btn-warning {
  @extend .bg-warning;

  &:hover {
    background-color: hover-color-for($sunflower);
    color: text-color-for($sunflower);
  }

  &:active {
    background-color: active-color-for($sunflower);
    color: text-color-for(active-color-for($sunflower));
  }
}

.btn-success {
  @extend .bg-success;

  &:hover {
    background-color: hover-color-for($grass);
    color: text-color-for($grass);
  }

  &:active {
    background-color: active-color-for($grass);
    color: text-color-for(active-color-for($grass));
  }
}

// Buttons named after colors

.btn-lavender {
  @extend .bg-lavender;

  &:hover {
    background-color: hover-color-for($lavender);
    color: text-color-for($lavender);
  }

  &:active {
    background-color: active-color-for($lavender);
    color: text-color-for(active-color-for($lavender));
  }
}

.btn-light-gray {
  @extend .bg-light-gray;

  &:hover {
    background-color: hover-color-for($light-gray);
    color: text-color-for($light-gray);
  }

  &:active {
    background-color: active-color-for($light-gray);
    color: text-color-for(active-color-for($light-gray));
  }
}

.btn-gray {
  @extend .bg-gray;

  &:hover {
    background-color: hover-color-for($medium-gray);
    color: text-color-for($medium-gray);
  }

  &:active {
    background-color: active-color-for($medium-gray);
    color: text-color-for(active-color-for($medium-gray));
  }
}

.btn-medium-gray {
  @extend .btn-gray;
}

