// Constants //

// Fonts

$base-font: Ubuntu;
$base-font-size: 14px;
$base-line-height: 20px;

// Padding

$single: 10px;
$double: 20px;
$triple: 30px;

// Media break points

$smartphone-resolution: 600px;
$tablet-resolution: 900px;
$desktop-resolution: 1450px;