// Fonts
$base-font: Ubuntu;
$base-font-size: 14px;
$base-line-height: 20px;

//Padding
$small-padding: 10px;
$standard-padding: 20px;

//Media break points
$smartphone-resolution: 600px;
$tablet-resolution: 900px;
$desktop-resolution: 1200px;