body {
  font-family: $base-font;
  font-size: $base-font-size;
  line-height: $base-line-height;
}

h1, h2, h3, h4, h6, h6 {
  font-weight: 500;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 27px;
}

h3 {
  font-size: 23px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 17px;
}

h6 {
  font-size: 14px;
}