// Grid //

body {
  margin: 0px;
}

.grid-container {
  display: grid;
  grid-template-columns: max-content 1fr 1fr;
  grid-template-rows: 0 auto auto;
  grid-template-areas:
    "nav alerts alerts"
    "nav container container"
    "branding footer footer"
    "unused hosting hosting";
}

@media (max-width: $tablet-resolution) {
  .grid-container {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: auto 0 auto auto;
    grid-template-areas:
      "nav"
      "alerts"
      "container"
      "footer"
      "hosting"
      "branding"
      "unused";
  }
}

.nav {
  grid-area: nav;
}

.alerts {
  grid-area: alerts;
}

.footer-branding {
  grid-area: branding;
}

.hosting {
  grid-area: hosting;
}

.unused {
  grid-area: unused;
}

.container {
  max-width: 100%;
  grid-area: container;
  display: flex;
  justify-self: center;
  justify-content: space-between;

  @media (max-width: $tablet-resolution) {
    justify-self: center;
    flex: 0 1 1220px;
  }

  @media (max-width: $desktop-resolution) {
    flex-direction: column;
  }

  .column {
    max-width: 600px;
    margin: 0px $single 0px $single;
  }
}

.footer {
  grid-area: footer;
}

.row {
  display: flex;
  justify-content: space-between;
}

.column {
  display: flex;
  flex-direction: column;
}

.category-columns {
  columns: 4;
  margin: $double;

  @media (max-width: $desktop-resolution) {
    columns: 3;
  }

  @media (max-width: $tablet-resolution) {
    columns: 2;
  }

  @media (max-width: $smartphone-resolution) {
    columns: 1;
  }
}