// Helpers //

.pull-right {
  float: right;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.full-width {
  width: 100%;
}

.truncate {
  box-sizing: border-box;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  max-width: 100%;
}

.uppercase {
  text-transform: uppercase;
}

hr.divider {
  border: 0;
  border-top: 1px solid $light-gray;
  break-before: avoid;
}

.inline-block {
 display: inline-block;
}
