.dl-horizontal dt {
  float: left;
  width: 160px;
  overflow: hidden;
  clear: left;
  text-align: right;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 200%;
}

.dl-horizontal dd {
  margin-left: 180px;
  line-height: 200%;
}