// Navigation // 

// Header

main {
  display: flex;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: $single;
  font-weight: 500;
  background-color: $color-nav-background;
  color: $color-very-light-gray;

  .branding {
    margin-top: $double;
  }

  a {
    color: $color-light-gray;
  }

  img {
    vertical-align: middle;
    width: 40px;
  }

  ul {
    padding: 0px;
    list-style-type: none;
  }

  li {
    padding: 4px;
  }

  // Dropdown
  pull .dropdown {
    position: relative;
    display: block;
  }

  .dropdown-content {
    margin: 35px;
    padding: 5px 10px 0px 10px;
    display: none;
    position: absolute;
    top: 0px;
    left: -40px;
    min-width: 220px;
    z-index: 1;
    background-color: $color-nav-background;
  }

  .dropdown:active,
  .dropdown:focus-within {
    a {
      outline: 0;
    }

    .dropdown-content {
      display: block;
      border: 1px solid $color-medium-gray;
    }
  }

  .nav-form {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    margin-top: $double;
  }

  .divider {
    border-top: 1px solid $color-medium-dark-gray;
  }
}

// Footer

footer {
  display: flex;
  flex-wrap: wrap;
  font-weight: 500;
  background-color: $color-nav-background;
  color: white;

  a {
    color: $color-light-medium-gray;
    font-weight: 400;
  }

  ul {
    flex: 1 0 content;    
    list-style-type: none;
    padding: 0px 10px 10px 10px;
    line-height: 22px;
  }
}

.footer-branding {
  background-color: $color-nav-background;
  font-size: 20px;
  color: $color-very-light-gray;
  a {
    color: $color-very-light-gray;
    font-weight: 500;
  }

  img {
    vertical-align: middle;
    width: 30px;
  }
}

.footer-branding, 
.hosting,
.unused  {
  padding: $single;
  background-color: $color-nav-background;
  color: $color-very-light-gray;
  a {
    color: $color-very-light-gray;
    font-weight: 500;
  }
}

.branding {
  background-color: $color-nav-background;
  font-size: 20px;
  color: $color-very-light-gray;
  a {
    color: $color-very-light-gray;
    font-weight: 500;
  }

  img {
    vertical-align: middle;
    width: 30px;
  }
}