// Panels // 

.panel {
  border: 1px solid $light-medium-gray;
  border-radius: 10px;
  margin: $double 0 $double 0;

  th,
  td {
    padding: 3px 20px 3px 5px;
    border-color: $light-gray;
  }

  .tab {
    border-radius: 10px;  
  }
  
  .btn {
    box-sizing: border-box;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    max-width: 100%;
  }

  td>.btn {
    flex: 1;
    overflow-x: hidden;
    text-overflow: ellipsis;
  }
}

.panel-heading {
  padding: 15px;
  border-radius: 10px 10px 0px 0px;
  font-size: 17px;
}

.panel-body {
  margin: $double;
}