// Panels // 

.panel {
  border: 1px solid $light-medium-gray;
  border-radius: 10px;
  margin: $double 0 $double 0;

  th,
  td {
    padding: 3px 20px 3px 5px;
    border-color: $light-gray;
  }

  .tab {
    border-radius: 10px;  
  }
  
  .btn {
    box-sizing: border-box;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    max-width: 100%;
  }

  td>.btn {
    flex: 1;
    overflow-x: hidden;
    text-overflow: ellipsis;
  }

  &>nav {
    all: unset;
  
    ul.pagination {
      display: flex;
      justify-content: flex-start;
      margin: $double;
  
      &>li:first-of-type {
        border-radius: $single 0 0 $single;
        border: 1px solid $light-gray;
      }
  
      &>li:last-of-type {
        border-radius: 0 $single $single 0;
        border: 1px solid $light-gray;
      }
    }
  
    li {
      padding: $single;
      border: 1px solid $light-gray;
  
      &.active {
        background-color: hover-color-for($grass);
  
        a {
          background-color: hover-color-for($grass);
          color: white;
        }
      }
  
      &:hover:not(.active) {
        background-color: $light-gray;
      }
    }
  
    a {
      padding: $single;
      color: black;
    }
  }
}

.panel-heading {
  padding: 15px;
  border-radius: 10px 10px 0px 0px;
  font-size: 17px;
}

.panel-body {
  margin: $double;
}