// Panels // 

.panel {
  border: 1px solid $color-light-medium-gray;
  border-radius: 10px;
  margin: 10px 0px;

  th,
  td {
    padding: 3px 20px 3px 5px;
    border-color: transparent;
  }

  .tab {
    border-radius: 10px;  
  }
  
  .btn {
    white-space: normal;
    text-align: left;
  }
}

.panel-heading {
  padding: 10px;
  border-radius: 10px 10px 0px 0px;
}