// Tables // 

table {
  overflow-x: auto;
}

.table-striped {
  border-spacing: 0px;
  border-collapse: collapse;

  tbody>tr:nth-of-type(odd) {
    background-color: $very-light-gray;
  }

  td,
  th {
    border-width: 1px 0px 1px 0px;
    border-style: solid;
    border-color: $light-gray;
  }
}