// Tables //

table {
  overflow-x: auto;

  &.table-striped {
    border-spacing: 0px;
    border-collapse: collapse;

    tbody > tr:nth-of-type(odd) {
      background-color: $very-light-gray;
    }

    td,
    th {
      border: 1px solid $light-gray;
      padding: 5px;

      &.top {
        vertical-align: top;
      }
    }
  }
}
