<%= if @current_user do %>
  <p>
    <%= like_or_unlike(@current_user.id, @podcast.id) %>
    <%= follow_or_unfollow(@current_user.id, @podcast.id) %>
    <%= subscribe_or_unsubscribe(@current_user.id, @podcast.id) %>
  </p>
<%= else %>
  <p><i>Log in to like, follow, recommend and subscribe!</i></p>
<% end %>