<%= if @chapter.recommendations != [] do %>
  <div class="panel panel-danger">
    <div class="panel-heading">Recommendations</div>
    <ul class="list-group">
      <%= for recommendation <- @chapter.recommendations do %>
        <li class="list-group-item">
          <b><%= recommendation.user.name %>:</b> <%= recommendation.comment %>
          <span class="pull-right"><%= recommendation.inserted_at %></span>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>