@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "../node_modules/nprogress/nprogress.css";
 
@layer base {
  [type='text'],
  [type='email'],
  [type='url'],
  [type='password'],
  [type='number'],
  [type='date'],
  [type='datetime-local'],
  [type='month'],
  [type='search'],
  [type='tel'],
  [type='time'],
  [type='week'],
  [multiple],
  textarea,
  select {
    @apply px-2 py-1 rounded-md border-gray-light shadow-sm;
  }

  .xup-to-four-columns {
    @screen lg {columns: 2;}
    @screen xl {columns: 3;}
    @screen 2xl {columns: 4;}
  };

  .up-to-four-columns {
    @screen 2xl {columns: 4;};
  };

  .scrollbar-gray {scrollbar-color: #aab2bd #f5f7fa;}
}

[hidden] { @apply hidden; }

.alert:empty { @apply hidden; }

.alert.toast {
  @apply z-40 fixed top-0 right-0 w-64 mt-20 shadow-xl cursor-pointer text-sm ease-out duration-300;
}

/* LiveView specific classes for your customizations */
.phx-no-feedback.invalid-feedback, .phx-no-feedback .invalid-feedback {
  display: none;
}

.phx-click-loading {
  opacity: 0.5;
  transition: opacity 1s ease-out;
}

.phx-disconnected{ cursor: wait; }
.phx-disconnected *{ pointer-events: none; }
