/* http://andidittrich.de/2015/08/create-static-social-media-share-buttons-without-javascript.html */
a.social-button {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  line-height: 30px;
  margin: 4px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  color: #f0f0f0;
  overflow: hidden;
  padding: 0px;
}
a.social-button:hover {
  text-decoration: none;
}
a.social-button.twitter-button {
  background-color: #4099ff;
}
a.social-button.twitter-button:before {
  content: 't';
}
a.social-button.twitter-button:hover {
  background-color: #303030;
}
a.social-button.facebook-button {
  background-color: #3b5998;
}
a.social-button.facebook-button:before {
  content: 'f';
}
a.social-button.facebook-button:hover {
  background-color: #303030;
}
a.social-button.googleplus-button {
  background-color: #dd4b39;
}
a.social-button.googleplus-button:before {
  content: 'g+';
}
a.social-button.googleplus-button:hover {
  background-color: #303030;
}
a.social-button.pinterest-button {
  background-color: #c8232c;
}
a.social-button.pinterest-button:before {
  content: 'p';
}
a.social-button.pinterest-button:hover {
  background-color: #303030;
}
a.social-button.email-button {
  background-color: #35c05f;
  font-size: 10px;
}
a.social-button.email-button:before {
  content: 'mail';
}
a.social-button.email-button:hover {
  background-color: #303030;
}
