use Mix.Config

config :pan, PanWeb.Endpoint,
  secret_key_base: "my_secret_keybase"

config :pan, Pan.Repo,
  adapter: Ecto.Adapters.Postgres,
  username: "postgres",
  password: "postgres",
  database: "pan_prod",
  pool_size: 20

config :pan, :bot, fb_access_token: "my_facebook_access_token"
config :pan, :bot, host: "https://production_host.domain"
