body {
  font-family: 'Ubuntu', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: 500;
}

h1, .h1 { font-size: 29px; }
h2, .h2 { font-size: 26px; }
h3, .h3 { font-size: 23px; }
h4, .h4 { font-size: 20px; }
h5, .h5 { font-size: 17px; }
h6, .h6 { font-size: 14px; }

.navbar-text a {color: white; }
.navbar-text {margin-left: 10px;}

/* Bootstrap Notifications */
.notifications {position: fixed; z-index: 9999; }
.notifications.top-right {right: 10px; top: 25px; }
.notifications.top-left {left: 10px; top: 25px; }
.notifications.bottom-left {left: 10px; bottom: 25px; }
.notifications.bottom-right {right: 10px; bottom: 25px; }
.notifications > div {position: relative; margin: 5px 0px; }
.notifications > .alert {padding: 2px 10px 2px 10px; }

.message-warning {background-color: #fffaed;}
.message-success {background-color: #ddffdd;}
.message-info {background-color: #d7f1fa;}
.message-danger, .message-error {background-color: #ff8591;}
