<h2>Show chapter</h2>

<ul>

  <li>
    <strong>Start:</strong>
    <%= @chapter.start %>
  </li>

  <li>
    <strong>Title:</strong>
    <%= @chapter.title %>
  </li>

  <li>
    <strong>Episode:</strong>
    <%= @chapter.episode_id %>
  </li>

</ul>

<%= link "Edit", to: chapter_path(@conn, :edit, @chapter) %>
<%= link "Back", to: chapter_path(@conn, :index) %>
