<h2>Merging Users</h2>

<%= form_for @conn, user_path(@conn, :execute_merge), [as: :users], fn f -> %>
  <div class="form-group">
    <%= label f, :from, class: "control-label" %>
    <%= text_input f, :from, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= label f, :into, class: "control-label" %>
    <%= text_input f, :into, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>