<div class="panel panel-danger">
  <div class="panel-heading">Top 10 liked Podcasts
    <span class="pull-right">
      <%= link "more ...", to: podcast_frontend_path(@conn, :liked), style: "color: #fff" %>
    </span>
  </div>
  <%= render "_top_list_table_alt.html",
        podcasts: @liked_podcasts,
        icon: "heart",
        conn: @conn %>
</div>
