<%= if @podcast.recommendations != [] do %>
  <h3>Recommendations</h2>
  <span class="pull-right"><%= complain_link() %></span>

  <table class="table table-condensed table-bordered table-striped">
    <thead>
      <tr>
        <th>User</th>
        <th>Recommendation</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      <%= for recommendation <- @podcast.recommendations do %>
        <tr>
          <td>
            <%= if @current_user && @current_user.id == recommendation.user_id do %>
              <nobr>
                <% text = "👍 " <> @podcast.title <> "%0A💬 " <> truncate(recommendation.comment, 80) <> "%0A🔊 " %>
                <% url = URI.encode_www_form(podcast_frontend_url(@conn, :show, @podcast)) %>
                <%= link "",  to: "https://twitter.com/intent/tweet?text=" <> text <>
                                  "&url=" <> url,
                              class: "social-button twitter-button",
                              title: "Tweet it" %>
                <%= link "",  to: "https://www.facebook.com/sharer/sharer.php?u=" <> url,
                              class: "social-button facebook-button",
                              title: "Share on facebook" %>
                <%= link "",  to: "mailto:?subject=" <> text <> "&body=" <> url,
                              class: "social-button email-button",
                              title: "Send an E-Mail" %>
              </nobr><br/>
            <% end %>
            <%= recommendation.user.name %>
          </td>
          <td><%= recommendation.comment %></td>
          <td align="right">
            <%= PanWeb.PersonaFrontendView.format_date(recommendation.inserted_at) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<%= render "_recommend_form.html",
           current_user: @current_user,
           changeset: @changeset,
           conn: @conn,
           podcast: @podcast %>
