<div class="m-4 max-w-2xl">
  <h1 class="text-2xl mb-4">Confirm podcast ownership</h1>

  <div :if={@claimant}>
    <p class="mb-4">
      The user <b>{@claimant.name}</b> (user name <b>{@claimant.username}</b>) asks to manage the podcast
      <b>{@podcast.title}</b>. Approve only if you are the owner of that podcast or know that user.
    </p>
    <.form for={%{}} action={podcast_frontend_path(@conn, :grant_ownership, @podcast)} method="post">
      <input type="hidden" name="token" value={@token} />
      <button class="btn btn-primary">Approve</button>
    </.form>
  </div>

  <p :if={!@claimant}>
    <.link href={podcast_frontend_path(@conn, :show, @podcast)} class="link">
      Back to {@podcast.title}
    </.link>
  </p>
</div>
