<h2>Latest Podcasts</h2>

<%= pagination_links @conn, @podcasts, path: &podcast_frontend_path/3 %>

<%= for group <- Enum.chunk_every(@podcasts, 2, 2, []) do %>
  <div class="row">
    <%= for podcast <- group do %>
      <%= render "_podcast_widget.html", conn: @conn,
                                         podcast: podcast %>
    <% end %>
  </div>
<% end %>

<%= pagination_links @conn, @podcasts, path: &podcast_frontend_path/3 %>