<div class="rounded-xl shadow max-w-screen-md m-auto">
  <div class="p-3 rounded-t-xl bg-primary text-white">
    Top 100 liked Podcasts
  </div>
  <div class="border-l border-r border-b border-gray-lighter rounded-b-xl">
    <%= render("_wide_top_list_table.html",
      podcasts: @liked_podcasts,
      icon: "user-heroicons-solid",
      conn: @conn
    ) %>
  </div>
</div>
