<h2>Show invoice</h2>

<ul>

  <li>
    <strong>Filename:</strong>
    <%= @invoice.filename %>
  </li>

  <li>
    <strong>Content type:</strong>
    <%= @invoice.content_type %>
  </li>

  <li>
    <strong>Path:</strong>
    <%= @invoice.path %>
  </li>

  <li>
    <strong>User:</strong>
    <%= @invoice.user_id %>
  </li>

</ul>

<%= link "Edit", to: invoice_path(@conn, :edit, @invoice) %>
<%= link "Back", to: invoice_path(@conn, :index) %>
