<div class="my-4">
  <div class="float-right">
    <.link
      href={user_frontend_path(@conn, :edit)}
      class="bg-warning hover:bg-warning-light border border-gray px-3 py-2 text-white rounded"
    >Edit your data</.link>
  </div>
  <h1 class="text-3xl">
    My Profile
  </h1>
</div>

<div class="grid grid-cols-2 gap-4">
  <div class="justify-self-end">User Name</div>
  <div>{@user.username}</div>

  <div class="justify-self-end">Full Name</div>
  <div>{@user.name}</div>

  <div class="justify-self-end">Email</div>
  <div>{@user.email}</div>

  <%= if @user.admin do %>
    <div class="justify-self-end">Admin</div>
    <div>I have admin priviliges.</div>
  <% end %>

  <div class="justify-self-end">Podcaster</div>
  <div>
    <%= if @user.podcaster do %>
      I am a podcaster myself.
    <% else %>
      I am not a podcaster.
    <% end %>
  </div>

  <div class="justify-self-end">Privacy</div>
  <div>
    <%= if @user.share_follows do %>
      I do currently share my followings.
    <% else %>
      I do not share my followings.
    <% end %>
  </div>

  <div class="col-start-2">
    <%= if @user.share_subscriptions do %>
      I do currently share my subscriptions.
    <% else %>
      I do not share my subscriptions.
    <% end %>
  </div>
</div>

<%= if @user.invoices != [] do %>
  <h2 class="text-2xl my-4">
    My invoices
  </h2>
  All invoices, that appear hear, have been paid already.
  <ul class="list-disc my-4 ml-4">
    <%= for invoice <- @user.invoices do %>
      <li>
        {icon("calendar-heroicons-outline")}
        {Calendar.strftime(invoice.inserted_at, "%x %H:%M")} &nbsp; &nbsp;
        <.link
          href={invoice_frontend_path(@conn, :download, invoice)}
          class="text-link hover:text-link-dark"
        >
          {icon("document-download-heroicons-outline")} {invoice.filename}
        </.link>
      </li>
    <% end %>
  </ul>
<% end %>

{render("_personas.html", conn: @conn, user: @user)}
