<table class="table">
  <thead>
    <tr>
      <th>Title</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
    <%= for category <- @categories do %>
      <%= render "_category_line.html", category: category, conn: @conn, indent: false %>

      <%= unless @no_children do %>
        <%= for child <- category.children do %>
          <%= render "_category_line.html", category: child, conn: @conn, indent: true %>
        <% end %>
      <% end %>
    <% end %>
  </tbody>
</table>
