<%= if @manifestations == [] do %>
  none
<% end %>

<%= for manifestation <- @manifestations do %>
  <%= link [la_icon("user"), " ", manifestation.user.name],
          to: user_frontend_path(@conn, :show, manifestation.user),
          class: "btn btn-xs" %> &nbsp;
<% end %>
