<h1> Payment Information</h1>

<p>This page is work in progress and will be completed in a few days.</p>

<%= link "My profile", to: user_frontend_path(@conn, :my_profile), class: "btn btn-primary" %>