<%= for toot <- @toots do %>

  <%= toot.published %><br/>
  <%= toot.content %>

  <%#= show_name(toot) %>
  <%#= show_preferred_username(toot) %>
  <%#= show_image body(["icon->url"]) %>

  <hr/>
<% end %>