<div class="column">
  <div class="row">
    <a class="branding" href="/">
      <img src="/images/panoptikum.thumbnail.png"/> Panoptikum.io
    </a>
    <ul>
      <li>META</li>
      <li></li>
      <li><a href="https://blog.panoptikum.io/code_of_conduct">Code of Conduct</a></li>
      <li><a href="https://blog.panoptikum.io/privacy">Privacy</a></li>
      <li><a href="https://blog.panoptikum.io/complaints">Complaints</a></li>
      <li><a href="https://blog.panoptikum.io/community">Community</a></li>
      <li><a href="https://blog.panoptikum.io/imprint">Imprint</a></li>
    </ul>
    <ul>
      <li>ABOUT</li>
      <li></li>
      <li><a href="https://blog.panoptikum.io/">About</a></li>
      <li><a href="https://blog.panoptikum.io/blog">Blog</a></li>
      <li><a href="https://blog.panoptikum.io/talks">Talks</a></li>
      <li><a href="https://blog.panoptikum.io/community">FAQ</a></li>
    </ul>
    <ul>
      <li>DEMO</li>
      <li></li>
      <li><a href="/categories#start_tour"><i class="fa fa-bus"></i> Tour</a></li>
      <li><a href="/recommendations/random">Random</a></li>
      <li><a href="/personas">Podcasters + Personas</a></li>
      <li><a href="/podcasts">New podcasts</a></li>
      <li><a href="/episodes">New episodes</a></li>
    </ul>
    <ul>
      <li>SUPPORTED BY</li>
      <li></li>
      <li><a href="https://www.informatom.com">Stefan a.k.a. Informatom</a></li>
      <li><a href="https://www.waldgruber.at">Community Manager Sonja</a></li>
      <li><a href="http://ramonhuidobro.com">Bot Master Ramon</a></li>
      <li><a href="https://www.mittenin.at">Mittenin.at</a></li>
      <li><a href="https://blog.panoptikum.io/vienna-beamers">Vienna Beamers</a></li>
    </ul>
  </div>

  <div class="text-center">
    Hosted by <a href="https://www.informatom.com">Informatom EDV-Dienstleistungen e.U.</a>
  </div>
</div>
