<main role="main" class="mb-8 p-4 min-h-screen text-black">
  <p class="alert alert-info alert-left toast" role="alert"><%= get_flash(@conn, :info) %></p>
  <p class="alert alert-danger alert-left toast" role="alert"><%= get_flash(@conn, :error) %></p>

  <%= @inner_content %>
</main>
