<main role="main" class="mx-auto p-4">
  <p
    class="empty:hidden p-4 border border-info-dark bg-info-light/50 rounded-xl mb-4"
    role="alert"
  >
    <%= Phoenix.Flash.get(@flash, :info) %>
  </p>
  <p
    class="empty:hidden p-4 border border-danger-dark bg-danger-light/50 rounded-xl mb-4"
    role="alert"
  >
    <%= Phoenix.Flash.get(@flash, :error) %>
  </p>

  <%= @inner_content %>
</main>
