<main role="main" class="px-4 mb-8 min-h-screen text-black">
  <p id="alert-success" class="text-white bg-grass" role="alert"
    phx-click="lv:clear-flash"
    phx-value-key="info"><%= live_flash(@flash, :info) %></p>

  <p id="alert-error" class="text-white bg-grapefruit" role="alert"
    phx-click="lv:clear-flash"
    phx-value-key="error"><%= live_flash(@flash, :error) %></p>

  <%= @inner_content %>
</main>
