<main role="main" class="container max-w-screen-2xl px-4 mx-auto mb-8">
  <p id="alert-success" class="text-white bg-green-700 alert" role="alert"
    phx-click="lv:clear-flash"
    phx-value-key="info"><%= live_flash(@flash, :info) %></p>

  <p id="alert-error" class="text-white bg-red-700 alert" role="alert"
    phx-click="lv:clear-flash"
    phx-value-key="error"><%= live_flash(@flash, :error) %></p>

  <%= @inner_content %>
</main>
