<p class="text-right">
  <%= link "Remove duplicates", to: episode_path(@conn, :remove_duplicates),
                                class: "btn btn-primary" %>
</p>


<h2>Listing <%= length(@episodes) %> episodes</h2>

<%= render "_episodes.html", episodes: @episodes,
                             conn: @conn  %>

<%= pagination_links @episodes %>

<%= link "New episode", to: episode_path(@conn, :new) %>
