<h2>Listing <%= Enum.count(@episodes) %> episodes</h2>

<%= render "_episodes.html", episodes: @episodes,
                             conn: @conn  %>

<%= pagination_links @episodes %>

<%= link "New episode", to: episode_path(@conn, :new) %>
