<h2>Show contributor</h2>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @contributor.name %>
  </li>

  <li>
    <strong>Uri:</strong>
    <%= @contributor.uri %>
  </li>

  <li>
    <strong>User:</strong>
    <%= @contributor.user_id %>
  </li>

</ul>

<%= link "Edit", to: contributor_path(@conn, :edit, @contributor) %>
<%= link "Back", to: contributor_path(@conn, :index) %>
